<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Lab: Cleaning Rock Song Data

_Authors: Dave Yerrington (SF)_

---

In [3]:
import pandas as pd
import numpy as np 
import seaborn as sns

%matplotlib inline

### 1. Load `rock.csv` and do an initial examination of its data columns.

In [7]:
rockfile = "./datasets/rock.csv"

./datasets/rock.csv

In [11]:
# Load the data.
rock_songs = pd.read_table("./datasets/rock.csv", sep=',')

rock_songs.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

In [12]:
# Look at the information regarding its columns.
rock_songs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
Song Clean      2230 non-null object
ARTIST CLEAN    2230 non-null object
Release Year    1653 non-null object
COMBINED        2230 non-null object
First?          2230 non-null int64
Year?           2230 non-null int64
PlayCount       2230 non-null int64
F*G             2230 non-null int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

### 2.  Clean up the column names.

Let's clean up the column names. There are two ways we can accomplish this:

#### 2.A Change the column names when you import the data using `pd.read_csv()`.

Notice that, when passing `names=[..A LIST OF STRING..]` with a number of columns that matches the number of strings in the passed list, you replace the column names.

NOTE: When you create custom column names, the first row of the `.csv` already represents a header. It is important to tell `pandas` to skip that row. The `skiprows=1` keyword argument to `read_csv()` will tell `pandas` to skip the first row.

In [18]:
# Change the column names when loading the '.csv':
rock_cols = ['Song', 'Artist', 'Release_Year', 'Combined', 'First', 'Year', 'Play_Count', 'FG']

rock_songs = pd.read_csv("./datasets/rock.csv", header=0 ,names=rock_cols)

rock_songs.head()

,Song,Artist,Release_Year,Combined,First,Year,Play_Count,FG
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

#### 2.B Change column names using the `.rename()` function.

The `.rename()` function takes an argument, `columns=name_dict`, in which `name_dict` is a dictionary containing the original column names as keys and the new column names as values.

In [6]:
# Change the column names using the `.rename()` function.
#rock_songs.rename(columns={
#    'Song Cleam':'Song'. 
#    'ARTIST CLEAN':'artist'
#    'etc.....'
#})

#### 2.C Reassigning the `.columns` attribute of a DataFrame.

You can also just reassign the `.columns` attribute to a list of strings containing the new column names. 

The only caveat with reassigning `.columns` is that you have to reassign all of the column names at once. You can't partially replace a value by working on `.columns` directly. You have to reassign `.columns` with a list of equal length.

In [7]:
# Replace the column names by reassigning the `.columns` attribute.

### 3. Subsetting data where null values exist.

We have mixed `str` and `NaN` values in the `release` column. `NaN` stands for "not a number" and is the way `pandas` handles "nulls" or nonexistent data. We can use the `.isnull()` method of a Series to find null values.

Print the header of the data subset to where the `release` column is null values.

In [21]:
# Show records where df['release'] is null
rock_songs[rock_songs.Release_Year.isnull()]

,Song,Artist,Release_Year,Combined,First,Year,Play_Count,FG
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
10,"Baby, Please Don't Go",AC/DC,NaN,"Baby, Please Don't Go by AC/DC",1,0,1,0
13,CAN'T STOP ROCK'N'ROLL,AC/DC,NaN,CAN'T STOP ROCK'N'ROLL by AC/DC,1,0,5,0
16,Girls Got Rhythm,AC/DC,NaN,Girls Got Rhythm by AC/DC,1,0,24,0
24,Let's Get It Up,AC/DC,NaN,Let's Get It Up by AC/DC,1,0,4,0
25,Live Wire,AC/DC,NaN,Live Wire by AC/DC,1,0,2,0
26,Moneytalks,AC/DC,NaN,Moneytalks by AC/DC,1,0,20,0
29,Shoot To Thrill,AC/DC,NaN,Shoot To Thrill by AC/DC,1,0,45,0
31,Sin City,AC/DC,NaN,Sin City by AC/DC,1,0,1,0
35,What Do You Do For Money Honey,AC/DC,NaN,What Do You Do For Money Honey by AC/DC,1,0,2,0
42,"Baby, Please Don't Go",Aerosmith,NaN,"Baby, Please Don't Go by Aerosmith",1,0,1,0
45,Come Together,Aerosmith,NaN,Come Together by Aerosmith,1,0,65,0
53,Kings and Queens,Aerosmith,NaN,Kings and Queens by Aerosmith,1,0,1,0
60,One Way Street,Aerosmith,NaN,One Way Street by Aerosmith,1,0,1,0
66,The Other Side,Aerosmith,NaN,The Other Side by Aerosmith,1,0,11,0
71,You See Me Crying,Aerosmith,NaN,You See Me Crying by Aerosmith,1,0,1,0
75,Fantasy,Aldo Nova,NaN,Fantasy by Aldo Nova,1,0,4,0
76,BE MY LOVER,Alice Cooper,NaN,BE MY LOVER by Alice Cooper,1,0,1,0
80,House Of Fire,Alice Cooper,NaN,House Of Fire by Alice Cooper,1,0,1,0
100,One Way Out,Allman Brothers Band,NaN,One Way Out by Allman Brothers Band,1,0,3,0
102,Southbound,Allman Brothers Band,NaN,Southbound by Allman Brothers Band,1,0,2,0
104,Whippin' Post,Allman Brothers Band,NaN,Whippin' Post by Allman Brothers Band,1,0,6,0
110,Immigrant Song,Ann Wilson,NaN,Immigrant Song by Ann Wilson,1,0,2,0
111,Roller,April Wine,NaN,Roller by April Wine,1,0,1,0
113,Coming into Los Angeles,Arlo Guthrie,NaN,Coming into Los Angeles by Arlo Guthrie,1,0,1,0
114,Wayside,Artful Dodger,NaN,Wayside by Artful Dodger,1,0,1,0
118,Spooky,Atlanta Rhythm Section,NaN,Spooky by Atlanta Rhythm Section,1,0,1,0
120,Blondes In Black Cars,Autograph,NaN,Blondes In Black Cars by Autograph,1,0,1,0
122,Rock And Roll Party In The Streets,Axe,NaN,Rock And Roll Party In The Streets by Axe,1,0,1,0
124,Roll On Down The Highway,Bachman-Turner Overdrive,NaN,Roll On Down The Highway by Bachman-Turner Ove...,1,0,5,0
...,...,...,...,...,...,...,...,...
2149,Take Your Whiskey Home,Van Halen,NaN,Take Your Whiskey Home by Van Halen,1,0,8,0
2150,Top Jimmy,Van Halen,NaN,Top Jimmy by Van Halen,1,0,23,0
2151,Top of the World,Van Halen,NaN,Top of the World by Van Halen,1,0,5,0
2157,And It Stoned Me,Van Morrison,NaN,And It Stoned Me by Van Morrison,1,0,1,0
2158,BLUE MONEY,Van Morrison,NaN,BLUE MONEY by Van Morrison,1,0,1,0
2162,Gloria,Van Morrison,NaN,Gloria by Van Morrison,1,0,1,0
2164,Jackie Wilson Said,Van Morrison,NaN,Jackie Wilson Said by Van Morrison,1,0,1,0
2168,Edge of a Broken Heart,Vixen,NaN,Edge of a Broken Heart by Vixen,1,0,2,0
2174,Uncle Tom's Cabin,Warrant,NaN,Uncle Tom's Cabin by Warrant,1,0,1,0
2178,Street Corner Serenade,Wet Willie,NaN,Street Corner Serenade by Wet Willie,1,0,2,0
2179,Wait,White Lion,NaN,Wait by White Lion,1,0,1,0
2184,Slow An' Easy,Whitesnake,NaN,Slow An' Easy by Whitesnake,1,0,6,0
2185,Still of the Night,Whitesnake,NaN,Still of the Night by Whitesnake,1,0,14,0
2186,Who Are You?,Why Not,NaN,Who Are You? by Why Not,1,0,5,0
2188,Night Moves,Wildlife,NaN,Night Moves by Wildlife,1,0,23,0
2189,We've Got Tonight,Wildlife,NaN,We've Got Tonight by Wildlife,1,0,4,0
2190,Can't Get Enough,Winger,NaN,Can't Get Enough by Winger,1,0,1,0
2191,Headed For A Heartbreak,Winger,NaN,Headed For A Heartbreak by Winger,1,0,1,0
2192,Seventeen,Winger,NaN,Seventeen by Winger,1,0,2,0
2194,Summertime Girls,Y&T,NaN,Summertime Girls by Y&T,1,0,4,0
2203,Wonderous Stories,Yes,NaN,Wonderous Stories by Yes,1,0,5,0
2205,Tell Me What You Want,Zebra,NaN,Tell Me What You Want by Zebra,1,0,2,0
2206,Who's Behind The Door,Zebra,NaN,Who's Behind The Door by Zebra,1,0,1,0
2208,A Fool for Your Stockings,ZZ Top,NaN,A Fool for Your Stockings by ZZ Top,1,0,1,0
2215,I Thank You,ZZ Top,NaN,I Thank You by ZZ Top,1,0,16,0
2216,"I'm Bad, I'm Nationwide",ZZ Top,NaN,"I'm Bad, I'm Nationwide by ZZ Top",1,0,10,0
2218,Just Got Paid,ZZ Top,NaN,Just Got Paid by ZZ Top,1,0,2,0
2221,My Head's In Mississippi,ZZ Top,NaN,My Head's In Mississippi by ZZ Top,1,0,1,0
2222,Party On The Patio,ZZ Top,NaN,Party On The Patio by ZZ Top,1,0,14,0
2225,She Loves My Automobile,ZZ Top,NaN,She Loves My Automobile by ZZ Top,1,0,1,0

### 4. Update slices of your DataFrame based on mask selection/slices.

In many scenarios, we want to upate values in our DataFrame according to criteria. Let's say we wanted to set all of the null values in `release` to 0.

With newer versions of `pandas`, in order to manipulate data in the original DataFrame, we have to use `.loc` while performing reassignment using a mask and an index.

For example, the following won't always work:
```python
df[row_mask]['column_name'] = new_value
```

The best way to accomplish the same task is:
```python
df.loc[row_mask, 'column_name'] = new_value
```

For multiple column assignment, you would use:
```python
df.loc[row_mask, ['col_1', 'col_2', 'col_3']] = new_value
```

#### 4.A Let's try it out. Make all of the null values in `release` 0.

In [51]:
# Replace release nulls with 0
rock_songs.Release_Year.fillna(value=0, inplace=True)

In [52]:
#same thing but uinsg the LOC method 
rock_songs.loc[rock_songs['Release_Year'].isnull(), 'Release_Year'] = 0

#### 4.B Verify that `release` contains no null values.

In [53]:
# A:
rock_songs.info() 
# or 
rock_songs.Release_Year.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 9 columns):
Song            2230 non-null object
Artist          2230 non-null object
Release_Year    2230 non-null int64
Combined        2230 non-null object
First           2230 non-null int64
Year            2230 non-null int64
Play_Count      2230 non-null int64
FG              2230 non-null int64
release         0 non-null float64
dtypes: float64(1), int64(5), object(3)
memory usage: 156.9+ KB

0

### 5. Ensure that the data types of the columns make sense. 

Verifying column data types is a critical part of data munging. If columns have the wrong data type, then there is usually corrupted or incorrect data in some of the observations.

#### 5.A Look at the data types for the columns. Are any incorrect given what the data represents?

In [54]:
# A:
rock_songs.dtypes

Song             object
Artist           object
Release_Year      int64
Combined         object
First             int64
Year              int64
Play_Count        int64
FG                int64
release         float64
dtype: object

### 6. Investigate and clean up the `release` column.

The `release` column is a string data type when it should be an integer.

#### 6.A Figure out what value(s) are causing the `release` column to be encoded as a string instead of an integer.

In [55]:
# A:
rock_songs['Release_Year'].value_counts()

0       578
1973    104
1977     83
1975     83
1970     81
1971     76
1969     72
1980     70
1978     64
1979     63
1981     61
1967     61
1983     60
1976     56
1982     54
1984     51
1972     50
1974     48
1968     46
1985     39
1987     39
1986     37
1991     34
1989     32
1966     30
1988     29
1965     28
1994     25
1990     22
1993     19
1964     14
1992     14
1999     13
1995     10
1996      9
1997      9
1963      9
2002      6
1998      6
2012      5
2005      5
2004      5
2001      4
2000      3
2008      3
1962      3
2007      3
2003      3
2011      3
2013      2
2014      2
2006      1
1955      1
1961      1
1958      1
Name: Release_Year, dtype: int64

#### 6.B Look at the rows in which there is incorrect data in the `release` column.

In [56]:
# A:
rock_songs[(rock_songs['Release_Year'] == 'SONGFACTS.COM')]

/anaconda3/lib/python3.6/site-packages/pandas/core/ops.py:1164: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

TypeError: invalid type comparison

#### 6.C. Clean up the data. Normally we may replace the offending data with null np.nan values, however we previously converted all of the nan values in the release column to zeros so we might as well continue with the same practice. Replacing with 0 (or nan) will allow us to convert the column to numeric.

In [57]:
rock_songs[rock_songs['Release_Year'] != 0].describe()

       Release_Year   First    Year   Play_Count           FG  release
count   1652.000000  1652.0  1652.0  1652.000000  1652.000000      0.0
mean    1978.564770     1.0     1.0    20.312954    20.312954      NaN
std        9.308823     0.0     0.0    27.502560    27.502560      NaN
min     1955.000000     1.0     1.0     0.000000     0.000000      NaN
25%     1971.000000     1.0     1.0     2.000000     2.000000      NaN
50%     1977.000000     1.0     1.0     7.000000     7.000000      NaN
75%     1984.000000     1.0     1.0    28.000000    28.000000      NaN
max     2014.000000     1.0     1.0   142.000000   142.000000      NaN

In [58]:
rock_songs.Release_Year.replace('SONGFACTS.COM', 0, inplace=True)
rock_songs['Release_Year'] = rock_songs['Release_Year'].astype('int')

#rock_songs.info

In [59]:
rock_songs.loc[rock_songs['Release_Year'] == 1071, 'Release_Year'] = 1971

In [60]:
rock_songs[rock_songs['Release_Year'] != 0].describe()

       Release_Year   First    Year   Play_Count           FG  release
count   1652.000000  1652.0  1652.0  1652.000000  1652.000000      0.0
mean    1978.564770     1.0     1.0    20.312954    20.312954      NaN
std        9.308823     0.0     0.0    27.502560    27.502560      NaN
min     1955.000000     1.0     1.0     0.000000     0.000000      NaN
25%     1971.000000     1.0     1.0     2.000000     2.000000      NaN
50%     1977.000000     1.0     1.0     7.000000     7.000000      NaN
75%     1984.000000     1.0     1.0    28.000000    28.000000      NaN
max     2014.000000     1.0     1.0   142.000000   142.000000      NaN

### 7. Get summary statistics for the `release` column using the `.describe()` function.

Now that the `release` column is finally a numeric data type, we can apply the `.describe()` function.  

#### 7.A Print out the summary stats for the `release` column. What is the earliest and latest release date?

In [15]:
# A:
def rockprint(row): 
    if row['Release_Year'] < 1970:
        print(row['Song'] + 'by' + row['Artist'] + ' came out before 1970!')
        else: 
        print(row['Song'] + 'by' + row['Artist'] + ' came out after 1970!')

#### 7.B Based on the summary statistics, is there anything else wrong with the `release` column?

In [16]:
# A:

_Looking at the DataFrame that contains the year 1071, we can see that the year was probably corrupted and should be replaced with something else if possible._

### 8. Make changes and investigate using custom functions with `.apply()`.

Let's say we want to traverse every single row in our data set and apply a function to that row.

#### 8.A Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970.

In [66]:
# A:
def rockprint(row): 
    if row['Release_Year'] < 1970:
        print(row['Song'] + ' by' + row['Artist'] + ' came out before 1970!')
    else: 
        print(row['Song'] + ' by' + row['Artist'] + ' came out after 1970!')

#### 8.B Using the `.apply()` function, apply the function you wrote to the first four rows of the DataFrame.

You will need to tell the `apply` function to operate row by row. Setting the keyword argument as `axis=1` indicates that the function should be applied to each row individually.

In [67]:
# A:
rock_songs.iloc[:4, :].apply(rockprint, axis=1)

Caught Up in You by.38 Special came out after 1970!
Fantasy Girl by.38 Special came out before 1970!
Hold On Loosely by.38 Special came out after 1970!
Rockin' Into the Night by.38 Special came out after 1970!

0    None
1    None
2    None
3    None
dtype: object

You'll notice that there will be a final output Series of `None` values. The `.apply()` function, if a return value is not specified, will return a Series of `None` values (similar to how the default return for Python functions is `None` when a return statement is not specified).

### 9. Write a function that converts cells in a DataFrame to float and otherwise replaces them with `np.nan`.

If applied to our data, it would keep only the numeric information and otherwise input null values.

Recall that the try-except syntax in Python is a great way to try something and take another action if the initial step fails:

```python
try:
    Perform some action.
except:
   Perform some other action if the first failed with an error.
```

#### 9.A Write the function that takes a column and converts all of its values to float if possible and `np.nan` otherwise. The return value should be the converted Series.

In [70]:
# A:
def converter(song): 
    try: 
        output = float(song)
    except: 
        output = np.nan
    return output

#### 9.B Try your function out on the rock song data and ensure the output is what you expected.

In [71]:
# A:
rock_songs['song_num'] = rock_songs.Song.apply(converter)

#### 9.C Describe the new float-only DataFrame.

In [72]:
# A:
rock_songs[rock_songs['song_num'].notnull()]

,Song,Artist,Release_Year,Combined,First,Year,Play_Count,FG,release,song_num
1566,45,Shinedown,2003,45 by Shinedown,1,1,2,2,NaN,45.0
1577,1979,Smashing Pumpkins,1995,1979 by Smashing Pumpkins,1,1,3,3,NaN,1979.0

In [ ]:
# if you are using a function on a column you should use the apply method